
.hidden {
    display: none;
    transition: all 0.5s;
}

.show {
    display: block;
    transition: all 0.5s;
}

.header {
    text-align: center;
    width: 100%;
}

.block {
    margin: 5px 0;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    width: calc(100% - 20px);
}

.input-group {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    width: 100%;
}

.title {
    font-weight: 600;
    padding: 10px 0;
}

.text-area {
    width: calc(100% - 4px);
}

.group-box {
    display: flex;
    justify-content: space-between;
}

.item-group-box {
    width: 45%;
}

.button {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    background: #5cb85c;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* todo component */

.todo-container {
    border: 1px solid #000;
}

.todo-group {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
}

.todo-detail {
    padding: 30px;
}

.todo-border-bottom {
    border-bottom: 1px solid #000;
}

.todo-left {
    display: flex;
    /* width: 70%; */
}

.todo-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.todo-button-detail {
    width: 100px;
    padding: 8px 0;
    margin-right: 20px;
    cursor: pointer;
    background: #00bcd4;
    border: 1px solid #d6d6d6;
    border: 1px solid #d6d6d6;
    border: 1px solid #d6d6d6;
    color: #fff;
    border-radius: 5px;
}

.todo-button-remove {
    width: 100px;
    padding: 8px 0;
    cursor: pointer;
    background: #d9534f;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #fff;
}

.todo-button-done {
    width: 100px;
    padding: 8px 0;
    cursor: pointer;
    background: #2196f3;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #fff;
}

/* footer */

.footer {
    position: fixed;
    left: calc(100% / 9 *4);
    bottom: 0vh;
    width: calc(100% / 9 *5 - 40px);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: #e0e0e0;
    align-items: center;
    padding: 0 20px;
}